/* ******************************************************************* */
/* HERO SECTION STYLING */
/* ******************************************************************* */

.hero {
  position: relative; 
  width: 100%; 
  margin-top: 138px;
  z-index: 100;
  padding: 0;
  height: 500px; 
  overflow: hidden; 
}

/* 1. NEW SLIDER CONTAINER */
.hero-slider {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

.hero-slider img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover;
  display: block; 
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

/* 3. ACTIVE CLASS FOR SLIDER */
.hero-slider img.active {
  opacity: 1; /* Only visible image */
}

.hero-texts {
  position: absolute;
  top: 50%;
  left: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  padding-left: 5vw;
  align-items: flex-start;
  transform: translateY(-50%); 
  color: white; 
  max-width: 500px;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.6);
}

.hero-texts h6,
.hero-texts h1,
.hero-texts h2 {
  margin-top: 0;
  margin-bottom: 0;
}

.hero-texts h6 {
  font: 700 italic 20px/25px 'Lato', sans-serif;
  margin-left: 30px;
}

.hero-texts h1 {
  font: 800 italic 103px/90px 'Lato', sans-serif;
  color: #A855F7; 
}

.hero-texts h2 {
  font: 300 italic 40px/50px 'Lato', sans-serif;
  text-align: start;
  color: #C4B5FD;
  /* background-color: red; */
}

/* NavLink button */
.hero-button {
  display: inline-block; 
  text-decoration: none; 
  color: white; 
  font: 500 italic 15px/20px 'Lato', sans-serif;
  background-color: #A855F7; 
  padding: 12px 20px; 
  border-radius: 50px; 
  margin-top: 1.5rem; 
  transition: background-color 0.3s, transform 0.1s;
}

.hero-button:hover {
  background-color: #8C40D4; 
  transform: translateY(-2px); 
}

/* ======================================================= */
/* MOBILE max-width: 768px) */
/* ======================================================= */

@media (max-width: 768px) {
    .hero {
        margin-top: 80px;
        height: 300px;
    }

    .hero-texts {
        padding-left: 1rem;
    }

    .hero-texts h6 {
        margin-left: 20px;
        font-size: 14px; 
        line-height: 18px;
    }

    .hero-texts h1 {
        font-size: 45px; 
        line-height: 40px;
        padding: 0 10px 0; 
    }

    .hero-texts h2 {
        font-size: 24px; 
        line-height: 30px;
        padding-left: 10px; 
    }
    
    .hero-button {
        font-size: 12px; 
        padding: 6px 15px;
        margin-top: 0.8rem; 
    }
}